/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Font */
* {
  @apply font-bebas;
  color: var(--text-color);
}

/* Theme Colors for light and dark mode */
:root {
  --background-color:rgb(7, 7, 7);
  --background-color-offset:rgb(27, 27, 27);
  --highlight-color: rgb(50, 50, 50);
  --highlight-hover-color: rgb(27, 27, 27);
  --contrast-color:#00F227;
  --contrast-color-offset:#01AC1C;
  --shadow-color:#00f2286b;
  --shadow-color-offset:#01AC1C7a;
  --text-color: white;
}

[data-theme="light"] {
  --background-color:white;
  --background-color-offset:rgb(236, 236, 236);
  --highlight-color: whitesmoke;
  --highlight-hover-color: rgb(236, 236, 236);
  --contrast-color:#4e351d;
  --contrast-color-offset:#696767;
  --shadow-color:#0000001a;
  --shadow-color-offset:#0404047a;
  --text-color: Black;
}

@layer components {
  .nav-link-after {
    @apply text-2xl transition-all duration-300 after:block after:content-[""] after:bg-[--contrast-color] after:w-0 after:h-[1.5px] after:duration-300 after:m-auto hover:after:w-full
  }

  h1 {@apply text-4xl text-center}

  h2 {@apply text-2xl text-center}

  h3{ @apply text-xl text-center}

  .magic-center{ @apply flex flex-col items-center}
}

/* styles for flash messages */

.ct-toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
}

.ct-toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}