/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Font */
* {
  @apply font-bebas
}

/* Theme Colors for light and dark mode */
:root {
  --background-color:white;
  --background-color-offset:rgb(236, 236, 236);
  --background-gradient: linear-gradient(to top, #222436, #2B315E);
  --highlight-color: whitesmoke;
  --highlight-hover-color: rgb(236, 236, 236);
  --highlight-gradient: linear-gradient(to bottom right, #00F227, #001AFF);
  --contrast-color:#4e351d;
  --contrast-color-offset:#696767;
  --shadow-color:#0000001a;
  --shadow-color-offset:#0404047a;
}

[data-theme="light"] {
  --background-color:#F8F8F8;
  --background-color-offset:#D9D9D9;
  --background-gradient: linear-gradient(to top, #F8F8F8, #D9D9D9);
  --highlight-color: #F2CA00;
  --highlight-hover-color: #cead06;
  --highlight-gradient: linear-gradient(to bottom right, #F2CA00, #FF2B00);
  --contrast-color:#00F2271a;
  --contrast-color-offset:#01AC1C1a;
}

@layer components {
  .nav-link-after {
    @apply text-2xl transition-all duration-300 text-black after:block after:content-[""] after:bg-[hsla(29,45%,21%,0.7)] after:w-0 after:h-[1.5px] after:duration-300 after:m-auto hover:after:w-full
  }

  h1 {@apply text-4xl}

  h2 {@apply text-2xl}

  h3{ @apply text-xl}

  .magic-center{ @apply flex flex-col items-center}
}

/* styles for flash messages */

.ct-toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
}

.ct-toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}