* {
  font-family: Bebas Neue
}

body{
  margin: 0;
}

#bg {
  width: 100%;  
  height: 100%;
  background-image: linear-gradient(rgba(51, 15, 87, 0.253),rgba(51, 15, 87, 0.253)), url(images//home-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#bg2{
  width: 100%;  
  height: 100%;
  background-image: linear-gradient(rgba(51, 15, 87, 0.253),rgba(51, 15, 87, 0.253)), url(images//botan2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

section{
  width: 1600px;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 65px;
}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 23px;
  opacity: 0.7;
}

.nav-links ul li::after{
  content: "";
  width: 0%;
  height: 1.5px;
  background:hsl(0, 0%, 100%, 0.5);
  display: block;
  margin: auto;
  transition: 0.35s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.text-box{
  color: #fff;
  opacity: 0.75;
  margin-left: 40px;
  text-align: left;
}

.text-box h1{
  font-size: 50px;
}

.text-box p{
  margin: 10px 0 40px;
}

.play-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: red;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.play-btn:hover{
  background-color: hsl(0, 0%, 100%, 0);
  background-image: linear-gradient(rgba(248, 0, 0, 0.575),rgba(216, 214, 214, 0.493));
  transition: 0.45s;
}

nav .fa-solid{
  display: none;
}

.spacer{
  height: 100vh;
}

/*-- Bottom Contact --*/

.bottomcontact{
  position: absolute;
  bottom: 0;
  color: rgba(255, 255, 255, 0.85); 
  background: rgba(49, 45, 45, 0.5);
  height: 100px;
  width: 100%;
}

.bottomcontact2{
  position: sticky;
  bottom: 0;
  color: rgba(255, 255, 255, 0.85); 
  background: rgba(49, 45, 45, 0.5);
  height: 100px;
  width: 100%;
}

shadeblock verticalpart{
  width: 1600px;
}

shadeblock verticalpart h1{
  font-size: 20px;
  padding-top: 10px;
  margin-left: 30px;
}

shadeblock verticalpart horizontalpart{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

shadeblock verticalpart horizontalpart img{
  width: 30px;
  padding:  0 10px 0;
}

/*-- Videos --*/

.channel-tab{
  margin-left: 4%;
  display: flex;
}

.channel-tab img{
  width: 40px;
  padding: 0 25px 0;
  margin: 0 15px 0;
  background-color:rgba(160, 160, 160, 0.575);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.channel-tab img:hover{
  background-color: hsl(0, 0%, 100%, 0);
  background-image: linear-gradient(rgba(248, 0, 0, 0.575),rgba(216, 214, 214, 0.493));
  transition: 0.45s;
}

#blemish{
  background-color:rgba(49, 45, 45, 0.5);
  border-radius: 10px;
  margin-bottom: 20px;
}

.videopart{
  display: flex;
  justify-content: center;
}

.preview-video{
  margin-top: 20px;
}

.videos{
  display: block;
}

.videos row{
  display: flex;
  justify-content: space-around;
}

.videos row img{
  padding: 5px;
  margin: 15px;
  border-radius: 15px;
  transition: 0.5s;
}

.videos row img:hover{
  background-color:rgba(255, 255, 255, 0.301);
}

/*-- Screenshots --*/

.photos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photos img{
  
  width: 1000px;
  border-radius: 10px;
  margin-top: 35px;
}

/*-- Blogposts --*/

.blog{
  width: 95%;
  display: inline-block;
  background-color:rgba(255, 255, 255, 0.301);
  border-radius: 10px;
  margin: 20px 30px;
}

.blog1 p{
  padding: 20px;
  font-size: 20px;
}

/*-- Contact Us --*/

.primary-part{
  margin: 150px 0;
  display: flex;
  justify-content: center;
}

.logo-series img{
  width: 40px;
  display: block;
  margin: 20px;
}

.text-series p{
  font-size: 25px;
  color: rgba(255,255,255,0.75);
}

/* -- Mobile View -- */

@media(max-width: 700px){
  #bg {
    background-image: linear-gradient(rgba(51, 15, 87, 0.253),rgba(51, 15, 87, 0.253)), 
    url(images//home-mobile.png);
  }

  /* -- Common Navigation -- */

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  
  nav img{
    width: 50px;
  }

  /*.nav-links{
    position: absolute;
    background: rgba(68, 68, 68, 0.75);
    height: 100vh;
    width: 0;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
    transition: 1.5s;
  }*/


  .nav-links ul{
    padding-inline-start: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .nav-links ul li{
    margin-right: 10px;
    padding: 0;
  }

  .nav-links ul li a{
    font-size: 15px;
  }

  /*nav .fa-solid{
    display: block;
    color: #fff;
    cursor: pointer;
  }

  nav .fa-circle-xmark{
    margin: 10px;
    opacity: 0.75;
  }*/

  /* -- Home Page -- */
  
  .text-box{
    margin-top: 150px;
  }

  .text-box h1{
    font-size: 30px;
  }

  /* -- bottom Contact -- */

  shadeblock verticalpart h1{
    margin-left: 10px;
    font-size: 15px;
    padding-top: 5px;
  }

  shadeblock verticalpart horizontalpart img{
    width: 20px;
  }

  /* -- Videos Page -- */

  .preview-video{
    width: 250px;
    height: 160px;
    margin-bottom: 20px;
  }

  .videos row{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .videos row img{
    margin: 0;
    width: 250px;
  }

  /*-- Screenshots --*/
  .photos img{
    width: 300px;
    margin-top: 15px;
  }

  /* -- Blogposts --*/

  .blog{
    width: auto;
  }

  /*-- Contact Us --*/

  .text-series p{
    font-size: 18px;
    margin: 20px 0;
  }

  .logo-series img{
    margin: 15px;
    width: 30px;
  }
}
