*{
    margin: 0;
    padding: 0;
    font-family: Bebas Neue;
    font-weight: lighter;
}

.background{
    width: 100%;
    height: 100%;
    background: #202020;
    background-size: cover;
    background-position: center;
}

/*Common Navigation Bar*/

.navbar{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    background: rgb(19, 19, 19);
}

.profile{
    display: flex;
}

.profiletext{
    padding: 0 2px;
    color: #ffffff;
    text-decoration: none;
}

.profiletext::after{
    content: "";
    width: 0%;
    height: 1.5px;
    background:hsla(113, 100%, 57%, 0.842);
    display: block;
    margin: auto;
    transition: 0.35s;    
}

.profile:hover .profiletext::after{
    width: 100%;
}

.logo{
    width: 20px;
    height: 20px;
    background: url("images/logo-mwah.png");
    background-size: cover;
    border-radius: 10px;
    display: inline-block;
    transition: 0.35s;
}


.profile:hover .logo{
    background: url("images/logo-mwah-selected.png");
    background-size: cover;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
    padding-left: 25px;
}

.navbar ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 23px;
}

.navbar ul li::after{
    content: "";
    width: 0%;
    height: 1.5px;
    background:hsla(113, 100%, 57%, 0.842);
    display: block;
    margin: auto;
    transition: 0.35s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.navborder{
    width: 100%;
    height: 3px;
    background:hsl(113, 100%, 57%, 0.842);
}

.title{
    padding: 50px;
    display: block;
    text-align: center;
    color: #fff;
}

/* MAIN CONTENT - SOUMIL BISWAS*/

.mainuimenu{
    display: flex;
    align-items: start;
    padding: 20px 150px;
}

.mainuimenu button{
    margin: 10px 40px;
    background-color: #00000000;
    border: none;
}

.mainuimenu button img{
    width: 400px;
    border-radius: 10px;
    border-color: hsl(113, 100%, 57%, 0);
    border-style: solid;
    transition: 0.5s;
}

.mainuimenu button img:hover{
    border-color: hsl(113, 100%, 57%, 0.842);
}

.slideshow{
    width: 100%;
    display: none;
    justify-content: center;
    position: relative;
    margin: auto;
}

.slide{
    display: none;
}

.slide img{
    width: 1200px;
    border-radius: 20px;
}

.prev, .next{
    cursor: pointer;
    margin-top: 17%;
    width: auto;
    padding: 16px;
    color: hsl(113, 100%, 57%, 0.842);
    font-weight: bold;
    font-size: 100px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;;
}

.prev:hover, .next:hover {
    color: hsla(0, 0%, 100%, 1);
}

.dotbox{
    position: absolute;
    bottom: 2%;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}


.spacer{
    margin: 100px;
}

/* BOTTOM SECTION - COMMON */

.bottomcontact{
    background: rgb(19, 19, 19);
    padding: 10px 30px;
    display: flex;
    font-size: 12px;
    justify-content: space-around;
    color: #fff;
}

.bottomcontact p img{
    width: 10px;
    padding-right: 5px;
}

.profilelinks div{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    transition: 0.35s;  
    margin: 10px;

}

.profilelink1{
    background: url("images/logo-sb.png");
    background-size: cover;
}


.profilelink1:hover{
    background: url("images/logo-sb-inverted.png");
    background-size: cover;
}

.profilelink2{
    background: url("images/logo-mwah.png");
    background-size: cover;
}


.profilelink2:hover{
    background: url("images/logo-mwah-selected.png");
    background-size: cover;
}

.profilelink3{
    background: url("images/logo.png");
    background-color: #000000;
    background-size: cover;
}


.profilelink3:hover{
    background: url("images/logo-invert.png");
    background-color: #fff;
    background-size: cover;
}

.profilelink4{
    background: url("images/logo-facebook.png");
    background-size: cover;
}


.profilelink4:hover{
    background: url("images/logo-facebook-inverted.png");
    background-size: cover;
}

.profilelink5{
    background: url("images/logo-linkedin.png");
    background-size: cover;
}


.profilelink5:hover{
    background: url("images/logo-linkedin-inverted.png");
    background-size: cover;
}

.profilelink6{
    background: url("images/logo-github.png");
    background-size: cover;
}


.profilelink6:hover{
    background: url("images/logo-github-inverted.png");
    background-size: cover;
    background-color: #fff;
}

.profilelink7{
    background: url("images/logo-youtube.png");
    background-size: cover;
}


.profilelink7:hover{
    background: url("images/logo-youtube-inverted.png");
    background-size: cover;
}
