* {
    margin: 0;
    padding: 0;
    font-family: Bebas Neue, Times, serif;
    text-decoration: none;
}

.background {
    width: 100%;
    background: white;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

/*Common Navigation Bar*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    background: rgb(236, 236, 236);
}

.profile {
    display: flex;
}

.profiletext {
    padding: 0 2px;
    color: #000000;
    text-decoration: none;
}

.profiletext::after {
    content: "";
    width: 0%;
    height: 1.5px;
    background: hsla(29, 45%, 21%, 0.7);
    display: block;
    margin: auto;
    transition: 0.35s;
}

.profile:hover .profiletext::after {
    width: 100%;
}

.logo {
    width: 20px;
    height: 20px;
    background: url(images/logo-sb.png);
    background-size: cover;
    display: inline-block;
    transition: 0.35s;
}


.profile:hover .logo {
    background: url(images/logo-sb-inverted.png);
    background-size: cover;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    padding-left: 25px;
}

.navbar ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 23px;
}

.navbar ul li::after {
    content: "";
    width: 0%;
    height: 1.5px;
    background: hsla(29, 45%, 21%, 0.7);
    display: block;
    margin: auto;
    transition: 0.35s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.title {
    padding: 50px;
    display: block;
    text-align: center;
}

/* MAIN CONTENT - SOUMIL BISWAS*/

.main {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainbuttons {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    text-align: center;
    margin: 0 10px 70px 10px;
}

.mainbuttons a {
    margin: 5px;
    color: #000000;
    text-decoration: none;
    background-color: whitesmoke;
    border-radius: 10px;
}

.mainbtn {
    padding: 15px;
    border-radius: 10px;
    transition: 0.35s;
    height: 450px;
    background-size: 0%;
}

.mainbtnimg {
    width: 400px;
    height: 225px;
    border-radius: 10px;
    display: inline-block;
    transition: 0.4s;
}

.main1 .mainbtnimg {
    background: url("images/portfolio.jpg");
    background-size: cover;
}

.main1:hover .mainbtn {
    background: rgb(236, 236, 236);
}

.main1:hover .mainbtnimg {
    background: url("images/botan2.jpg");
    background-size: cover;
    background-position: center;
}

.main2 .mainbtnimg {
    background: url("screenshots/rvl 4k dvdr (1).jpg");
    background-size: cover;
}

.main2:hover .mainbtn {
    background: rgb(236, 236, 236);
}

.main2:hover .mainbtnimg {
    background: url("screenshots/rvl 4k dvdr (2).jpg");
    background-size: cover;
    background-position: center;
}

.main3 .mainbtnimg {
    background: url("screenshots/Screenshot-Code-2.png");
    background-size: cover;
}

.main3:hover .mainbtn {
    background: rgb(236, 236, 236);
}

.main3:hover .mainbtnimg {
    background: url("screenshots/Screenshot-Code-1.png");
    background-size: cover;
    background-position: center;
}

/* BOTTOM SECTION - COMMON */

.bottomcontact {
    background: rgb(236, 236, 236);
    padding: 10px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottomcontact p img {
    width: 10px;
    padding-right: 5px;
}

.profilelinks{
    display: flex;
}

.profilelinks div {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    transition: 0.35s;
    margin: 10px;

}

.profilelink1 {
    background: url("images/logo-sb.png");
    background-size: cover;
}


.profilelink1:hover {
    background: url("images/logo-sb-inverted.png");
    background-size: cover;
}

.profilelink2 {
    background: url("images/logo-mwah.png");
    background-size: cover;
}


.profilelink2:hover {
    background: url("images/logo-mwah-selected.png");
    background-size: cover;
}

.profilelink3 {
    background: url("images/logo.png");
    background-color: #000000;
    background-size: cover;
}


.profilelink3:hover {
    background: url("images/logo-invert.png");
    background-color: #fff;
    background-size: cover;
}

.profilelink4 {
    background: url("images/logo-facebook.png");
    background-size: cover;
}


.profilelink4:hover {
    background: url("images/logo-facebook-inverted.png");
    background-size: cover;
}

.profilelink5 {
    background: url("images/logo-linkedin.png");
    background-size: cover;
}


.profilelink5:hover {
    background: url("images/logo-linkedin-inverted.png");
    background-size: cover;
}

.profilelink6 {
    background: url("images/logo-github.png");
    background-size: cover;
}


.profilelink6:hover {
    background: url("images/logo-github-inverted.png");
    background-size: cover;
}

.profilelink7 {
    background: url("images/logo-youtube.png");
    background-size: cover;
}


.profilelink7:hover {
    background: url("images/logo-youtube-inverted.png");
    background-size: cover;
}

/* -- PROJECTS PAGE -- */

.designmenu {
    display: flex;
    margin-left: 100px;
    margin-bottom: 50px;
}

.designmenu button {
    font-size: 20px;
    margin-right: 50px;
    padding: 15px;
    width: 250px;
    border-radius: 30px;
    border-color: hsla(29, 45%, 21%);
    border-style: solid;
}

.mainmenu {
    display: none;
    align-items: start;
    padding: 20px 100px;
}

.mainmenu button {
    margin-bottom: 10px;
    margin-right: 40px;
    background-color: #00000000;
    border: none;
}

.mainmenu button img {
    width: 400px;
    border-radius: 10px;
    border-color: hsla(29, 45%, 21%, 0);
    border-style: solid;
    transition: 0.5s;
}

.mainmenu button img:hover {
    border-color: hsla(29, 45%, 21%, 0.7);
}

.mainmenu .behance {
    background-color: whitesmoke;
    font-size: 25px;
    border-style: dotted;
    border-color: hsl(226, 100%, 59%, 0.7);
    border-radius: 10px;
    width: 400px;
    height: 230px;
    transition: 0.5s;
}

#behancetd {
    height: 655px;
}

#behanceart {
    width: 100%;
    height: 600px;
}

.behance a {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: hsl(226, 100%, 59%, 0.7);
    color: #fff;
    transition: 0.5s;
}

.behance a:hover {
    background-color: #fff;
    color: hsl(226, 100%, 59%, 0.7);
}

.ui {
    display: flex;
}

.gd button img {
    width: 300px;
}

.slideshow {
    width: 100%;
    display: none;
    justify-content: center;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.slide img {
    width: 1200px;
    border-radius: 20px;
}

.prev,
.next {
    cursor: pointer;
    margin-top: 17%;
    width: auto;
    padding: 16px;
    color: hsla(29, 45%, 21%, 0.7);
    font-weight: bold;
    font-size: 100px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    ;
}

.prev:hover,
.next:hover {
    color: rgb(0, 0, 0);
}

.dotbox {
    position: absolute;
    bottom: 2%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


.spacer {
    margin: 100px;
}

/* CONTACTS PAGE */

.contacts {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts div {
    width: 80px;
    height: 80px;
    display: inline-block;
    transition: 0.35s;
    margin: 10px;
    z-index: 1;
}

.contacts a {
    display: flex;
    width: 80%;
    font-size: 70px;
    text-decoration: none;
    text-align: left;
    color: #000000;
    justify-content: start;
    margin: 20px;
    height: 100px;
    border-radius: 20px;
    background-color: whitesmoke;
    position: relative;
    overflow-y: hidden;
}

.contacts span {
    border-radius: 20px;
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    transition: 0.7s;
}

.contacts a:hover span {
    width: 100%;
}

.contacts p {
    margin-left: 50px;
    margin-top: 7px;
    z-index: 1;
}

.contacts a:hover p {
    color: #fff;
}

.btn1 {
    background: hsla(29, 45%, 21%, 0.7);
}

.profilelink8 {
    background: url("images/logo-phone.png");
    background-size: cover;
}


.contacts a:hover .profilelink8 {
    background: url("images/logo-phone-white.png");
    background-size: cover;
}

.profilelink9 {
    background: url("images/logo-whatsapp-inverted.png");
    background-size: cover;
}

.btn2 {
    background: hsla(116, 88%, 32%, 0.7);
}

.contacts a:hover .profilelink9 {
    background: url("images/logo-whatsapp.png");
    background-size: cover;
}

.profilelink10 {
    background: url("images/logo-gmail-new.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.btn3 {
    background: hsla(5, 81%, 56%, 0.7);
}

.contacts a:hover .profilelink10 {
    background: url("images/logo-gmail.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.btn4 {
    background: linear-gradient(hsla(226, 41%, 50%, 0.7), hsla(227, 50%, 56%, 0.7));
}

.contacts a:hover .profilelink4 {
    background: url("images/logo-facebook-inverted.png");
    background-size: cover;
}

.btn5 {
    background: hsla(210, 100%, 61%, 0.7);
}

.contacts a:hover .profilelink5 {
    background: url("images/logo-linkedin-inverted.png");
    background-size: cover;
}

.btn6 {
    background: linear-gradient(hsla(276, 89%, 58%, 0.7), hsla(250, 97%, 70%, 0.7));
}

.contacts a:hover .profilelink6 {
    background: url("images/logo-github-inverted.png");
    background-size: cover;
}

.btn7 {
    background: hsla(0, 100%, 50%, 0.7)
}

.contacts a:hover .profilelink7 {
    background: url("images/logo-youtube-inverted.png");
    background-size: cover;
}

.contacts a .btn8 {
    background-image: url("images/home-main.jpg");
    height: 760px;
    background-size: cover;
    background-position-y: 300px;
}

.contacts a:hover .btn8 {
    height: 760px;
    width: 100%;
    background-size: cover;
}

.contacts a .profilelink3 {
    background: url("images/logo-invert.png");
    background-size: cover;
}

.contacts a:hover .profilelink3 {
    background: url("images/logo.png");
    background-size: cover;
}

.btn9 {
    background-color: rgba(77, 199, 255, 0.7);
}

.contacts a .profilelink11 {
    background: url("images/logo-microsoft.png");
    background-size: cover;
}

.contacts a:hover .profilelink11 {
    background: url("images/logo-microsoft-inverted.png");
    background-size: cover;
}

/* RESUME PAGE */

.resumepanel {
    margin: 100px 300px;
}

.resumepanel .part {
    display: flex;
    justify-content: space-between;
}

.resumepanel .part .verticalpart {
    display: block;
    margin-top: 50px;
}

.verticalpart h3 {
    text-align: center;
    margin-top: 50px;
    font-size: larger;
    font-weight: 500;
}

.resumepanel a {
    color: hsla(29, 45%, 21%, 0.7);
    font-size: 20px;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    height: 25px;
    border-radius: 15px;
    padding: 10px 30px;
    margin-top: 100px;
    position: relative;
    z-index: 0;
    overflow-x: hidden;
    transition: 0.3s;
}

.resumepanel span {
    background-color: hsla(29, 45%, 21%, 0.7);
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 15px;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: 0.7s;
}

.resumepanel a:hover {
    background: transparent;
    color: rgba(255, 255, 255);
}

.resumepanel a:hover span {
    width: 100%;
}

.resumepanel div img {
    width: 50%;
    height: 50%;
    border-radius: 20px;
    border-color: rgba(118, 255, 255, 0.7);
    border-style: dotted;
}

/* -- For Mobile Phones -- */

@media(max-width: 700px) {

    .navbar {
        padding: 30px 5px;
    }


    .navbar ul li a {
        font-size: 15px;
    }

    .navbar ul li {
        margin-left: 10px;
        padding-left: 0;
    }

    .mainbuttons {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .mainbtnimg {
        width: 100%;
        height: 50%;
    }

    .mainbtn {
        height: 250px;
    }

    /* -- Bottom Contact -- */

    .bottomcontact {
        flex-direction: column;
        height: 150px;
    }

    .profilelinks div{
        width: 20px;
        height: 20px;
    }

    /* -- Projects Panel -- */

    .designmenu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 10px;
    }

    .designmenu button {
        margin-right: 10px;
        margin-top: 10px;
        font-size: 15px;
        width: 100px;
        padding: 5px;
    }

    .mainmenu .behance {
        width: 300px;
    }

    #behancetd {
        height: 300px;
    }

    .mainmenu {
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .mainmenu button {
        margin-right: 0;
    }

    .mainmenu button img {
        width: 300px;
    }

    .slide img {
        width: 250px;
    }

    .prev,
    .next {
        font-size: 60px;
        margin-top: 0;
    }

    /* -- Resume Panel -- */

    .resumepanel {
        margin: 100px 30px;
    }

    .resumepanel .part {
        justify-content: center;
    }

    .resumepanel .part .verticalpart {
        margin-top: 0;
    }

    .resumepanel a {
        margin-top: 0;
        margin-bottom: 200px;
    }

    .resumepanel div img {
        display: none;
    }

    /* -- Contacts -- */

    .contacts a {
        font-size: 40px;
        height: 100%;
        align-items: center;
        margin: 5px;
    }

    .contacts div {
        width: 40px;
        height: 40px;
    }

    .contacts p {
        margin-left: 5px;
        text-align: center;
    }

    .contacts .longtext {
        margin-left: 10px;
        font-size: 20px;
    }

}